/* All styles for your header Components live here */


.HeaderContain {
    display:flex;
    width:600px;
    padding:15px;
}

.HeaderTile {
    display:flex;
    flex-direction: row;
    align-items: center;
}

h1 {
    font-size:1rem;
}

h2 {
    font-size:1rem;
}

h3 {
    font-size:1rem;
}

.logo {
    width:90px;
    height: 90px;
    padding:5px;
    margin:5px;
    box-sizing: border-box;
}