@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

button {
    height: 96.5px;
    background: white;
    font-size: 2.5rem;
    font-weight: 600;
    border: solid 1px black;
    font-family: 'Roboto', sans-serif;

  }
  
  .action-btn {
    color: white;
    background: #A0041E;
    width: 100%;
    font-family: 'Roboto', sans-serif;

  }
  